@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-size: 24px;
  --primary: #3183C5;
  --secondary: #315A83;
  --tertiary: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-readability {
  text-shadow: black 0px 0px 10px;
}

.hero-button {
  border: none;
  background: none;
  position: relative;
}

.hero-button-one {
  font-size: var(--font-size);
}

.hero-button-two {
  font-size:var(--font-size);
}

.hero-button::before {
  margin-left: auto;
}

.hero-button-one::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: calc(var(--font-size) + 80%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  transition: 0.5s;
}

.hero-button-one::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  right: calc(var(--font-size) + 80%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  transition: 0.5s;
}



.hero-button-two::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: calc(var(--font-size) + 100%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  transition: 0.5s;
}

.hero-button-two::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  right: calc(var(--font-size) + 100%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  transition: 0.5s;
}

.hero-button:hover::after, .hero-button:hover::before {
  width: 50px;
}

/* Game Info Section */

.game-info-top:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  left: calc(5px + 70%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  
}
.game-info-top:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  right: calc(5px + 70%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  
}

/* Weapons Info Section */
.weapons-info-top:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  left: calc(15px + 70%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  
}
.weapons-info-top:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  right: calc(15px + 70%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  
}

.weapons-wheel {
  animation:spin 200s linear infinite;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}




/* Test CSS Area */
.testing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-remove-scrollbar::-webkit-scrollbar {
display: none;
}
.animation, .animation_layer {
	height: 1000px;
}
.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
}
.animation_layer .parallax {
	position: fixed;
}

#background {
  background-image: url(assets/giorgio-trovato-n4cjanwvGdg-unsplash.jpg);
}

#foreground {
  background-image: url(assets/pine-tree.png);
}


