@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 24px;
  --primary: #3183C5;
  --secondary: #315A83;
  --tertiary: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-button {
  border: none;
  background: none;
  position: relative;
}

.hero-button-one {
  font-size: var(--font-size);
}

.hero-button-two {
  font-size:var(--font-size);
}

.hero-button::before {
  margin-left: auto;
}

.hero-button-one::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: calc(var(--font-size) + 80%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  transition: 0.5s;
}

.hero-button-one::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  right: calc(var(--font-size) + 80%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  transition: 0.5s;
}



.hero-button-two::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: calc(var(--font-size) + 100%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  transition: 0.5s;
}

.hero-button-two::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  right: calc(var(--font-size) + 100%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  transition: 0.5s;
}

.hero-button:hover::after, .hero-button:hover::before {
  width: 50px;
}

.game-info-top:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  left: calc(5px + 70%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, white, transparent);
  display: block;
  
}
.game-info-top:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  right: calc(5px + 70%);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to left, white, transparent);
  display: block;
  
}